m=application 1 DTLS/SCTP 5000
c=IN IP4 0.0.0.0
a=sctpmap:5000 webrtc-datachannel 1024
a=sendrecv
a=mid:{{.MediaId}}
a=rtcp-mux
{{range .Candidates -}}
a=candidate:{{.Foundation}} {{.Component}} {{.Protocol}} {{.Priority}} {{.Ip}} {{.Port}} typ {{.Type | ToLower}}{{if .RelAddr}} raddr {{.RelAddr}}{{end}}{{if .RelPort}} rport {{.RelPort}}{{end}} generation {{.Generation}}
{{end -}}
a=end-of-candidates
