m=video 1 RTP/SAVPF 100 96
c=IN IP4 0.0.0.0
b=AS:{{.Bandwidth}}
a=rtcp:1 IN IP4 0.0.0.0
a={{.Direction}}
a=rtpmap:100 VP8/90000
a=fmtp:100 max-fr=30; max-recv-height=360; max-recv-width=360
a=rtcp-fb:100 ccm fir
a=rtcp-fb:100 nack
a=rtcp-fb:100 nack pli
a=rtcp-fb:100 transport-cc
a=rtpmap:96 rtx/90000
a=fmtp:96 apt=100
a=extmap:3 http://www.webrtc.org/experiments/rtp-hdrext/abs-send-time
a=extmap:5 http://www.ietf.org/id/draft-holmer-rmcat-transport-wide-cc-extensions-01
a=mid:{{.MediaId}}
a=msid:mixedmslabel mixedlabelvideo0
{{range .Sources -}}
a=ssrc:{{.}} cname:mixed
{{end -}}
a=rtcp-mux
{{range .Candidates -}}
a=candidate:{{.Foundation}} {{.Component}} {{.Protocol}} {{.Priority}} {{.Ip}} {{.Port}} typ {{.Type | ToLower}}{{if .RelAddr}} raddr {{.RelAddr}}{{end}}{{if .RelPort}} rport {{.RelPort}}{{end}} generation {{.Generation}}
{{end -}}
a=end-of-candidates
